* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  color: white;
  background: black;
  position: relative;
}

/* Background video fix */
.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -3;
}

.video-bg video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#starfield {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.logo-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.logo-container img {
  color:transparent;
  mask-image:linear-gradient(30deg, rgba(255,255,255,0) 15%, rgba(255,255,255, 1), rgba(255,255,255,1));
}

.search-box {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 999px;
  padding: 6px;
  max-width: 600px;
  width: 90%;
  z-index: 2;
  border: 1px solid #ffffff22;
}

.search-box input {
  flex: 1;
  padding: 16px 20px;
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  outline: none;
}

.search-box button {
  padding: 10px 16px;
  background: #ffffff22;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
